{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}Liste des articles - {{ parent() }}{% endblock %}

{% block sdzblog_body %}

	<h2>Liste des articles</h2>
	
	<ul>
		{% for article in articles %}
			<li>
				<a href="{{ path('sdzblog_voir', {'id': article.id}) }}">{{ article.titre }}</a>
				par {{ article.pseudo }},
				le {{ article.date|date('d/m/Y') }}
			</li>
		{% else %}
			<li>Pas (encore !) d'articles</li>
		{% endfor %}
	</ul>
	
{% endblock %}