{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}Lecture d'un article - {{ parent() }}{% endblock %}

{% block sdzblog_body %}

	<h2>Lecture de l'article {{ article.titre }}</h2>
	
	<i>Par {{ article.pseudo }}, le {{ article.date|date('d/m/Y') }}</i>
	
	<div>
		{{ article.contenu }}
	</div>
	
	<div>
		<h3>Tags</h3>
		
		<ul>
		{% for tag in article.tags %}
			<li>{{ tag.nom }}</li>
		{% endfor %}
		</ul>
	</div>
	
	<div>
		<a href="{{ path('sdzblog_modifier', {'id': article.id}) }}">Modifier l'article</a>
	</div>
	
{% endblock %}